main {
  width: 100%;
  min-height: calc(100vh - 200px);
}

#home {
  scroll-margin-top: 0;
}

#impact,
#stories {
  scroll-margin-top: 70px;
}

section {
  scroll-margin-top: 80px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
