<div class="live-tracker-container">
  <div class="header">Live Impact Tracker</div>

  <div class="information">
    <div class="category">
      <div class="counter" #counter data-target="120" data-speed="10">0</div>
      <div class="category-name">Meals Provided</div>
    </div>

    <div class="category">
      <div class="counter" #counter data-target="45" data-speed="25">0</div>
      <div class="category-name">Medical Kits</div>
    </div>

    <div class="category">
      <div class="counter" #counter data-target="78" data-speed="35">0</div>
      <div class="category-name">Transport Rides</div>
    </div>

    <div class="category">
      <div class="counter" #counter data-target="210" data-speed="15">0</div>
      <div class="category-name">Lives Touched</div>
    </div>
  </div>
</div>
