<div class="live-tracker-container">
  <div class="header">{{ labels.liveImpactTracker }}</div>

  <div class="total-collected">
    <div class="big-counter" #bigCounter data-target="5015000" data-speed="20">$0</div>
  </div>

  <div class="information">
    <div class="category">
      <div class="counter" #counter data-target="1200" data-speed="10">0</div>
      <div class="category-name">{{ labels.mealsProvided }}</div>
    </div>

    <div class="category">
      <div class="counter" #counter data-target="450" data-speed="25">0</div>
      <div class="category-name">{{ labels.medicalKits }}</div>
    </div>

    <div class="category">
      <div class="counter" #counter data-target="780" data-speed="35">0</div>
      <div class="category-name">{{ labels.transportRides }}</div>
    </div>

    <div class="category">
      <div class="counter" #counter data-target="2100" data-speed="15">0</div>
      <div class="category-name">{{ labels.livesTouched }}</div>
    </div>
  </div>
</div>
