<div class="tier-badges-container">
  <div class="badge-row" role="list">
    <div
      class="tier-badge"
      role="listitem"
      *ngFor="let t of tiers"
      [class.tier-badge--unlocked]="t.isUnlocked"
      [attr.aria-label]="t.name"
    >
      <div class="tier-badge__image-wrapper">
        <img
          [src]="t.imagePath"
          [alt]="
            getTierName(t.tier) +
            ' ' +
            (languageService.getTranslation('tier_badge') || 'tier badge')
          "
          class="tier-badge__image"
        />
      </div>
      <div class="tier-badge__label">{{ getTierName(t.tier) }}</div>
    </div>
  </div>
</div>
